@import url(https://fonts.googleapis.com/css?family=Dosis);
.so-widget-sow-features-default-043511e919b5 .sow-features-list .sow-features-feature .textwidget > h5 {
  font-family: Dosis;
  font-weight: 400;
  font-size: 0px;
  
}
.so-widget-sow-features-default-043511e919b5 .sow-features-list .sow-features-feature .textwidget > p {
  font-family: Dosis;
  font-weight: 400;
  font-size: 0px;
  
}
.so-widget-sow-features-default-043511e919b5 .sow-features-list .sow-features-feature .textwidget > p.sow-more-text {
  font-family: Dosis;
  font-weight: 400;
  font-size: 0px;
  
}